* {
    margin: 0;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
}

body {
    text-align: center;
}

.container {
    background: linear-gradient(132deg, blue, purple);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    margin: 0;
}

.stat {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    margin-bottom: 5px;
}

[st] {
    margin: 10px;
    border: 1px solid;
    border-radius: 5px 0;
    padding: 5px;
}


.grid {
    width: 201px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
}

.boxes {
    margin: 0;
    height: 100px;
    width: 100px;
    border: 1px solid ;
    border-radius: 5px;
}

.mol {
    background-image: url("mole.png");
    background-size: cover;
    background-position: 44%;

}

.pop-up {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 20px;
    position: absolute;
    background-color: antiquewhite;
}

[pop-up-txt] {
    margin-top: -10px;
}

[mole-pic] h2 {
    margin: -30px 0 0 0;
}

[mole-txt] {
    color: rgb(243, 154, 38);
}

.n-l-i {
    position: absolute;
    right: 20px;
}

.next, .start {
    margin: 10px;
    padding: 10px 30px;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid;
    border-radius: 5px;
    background: transparent;
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.no-click {
    cursor: not-allowed;
    color: gray;
}

.no-display {
    display: none !important;
}